on:
    release:
        types: [published]
jobs:
    github-releases-to-discord:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v3
        - name: Github Releases To Discord
          uses: sillyangel/releases-to-discord@v1
          with:
            webhook_url: ${{ secrets.WEBHOOK_URL }}
            color: "2105893"
            username: "PrintCFG Release"
            avatar_url: "https://raw.githubusercontent.com/rootiest/zippy_guides/main/resources/logo.png"